<div class="container-fluid" id="launchableContainer" ng-class="{context: options !== null}">
	<div class="row">
		<div ng-repeat="selectable in selectables">
			<div class="col-lg-4 col-md-6 col-sm-6 launchable-container">
				<div class="launchable main" id="{{selectable.name}}" ng-class="{selected: selectable.selected}">
					<img ng-src="{{selectable.img}}"/><br>
					{{selectable.name}}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="optionsBox">
	<ul class="nav nav-pills nav-stacked"  ng-repeat="option in options" >
		<li role="presentation" ng-class="{active: option.selected}"><a>{{option.text}}</a></li>
	</ul>
</div>