<div class="jumbotron">
	<h1>Information</h1>
	<div class="info-col pull-left">
		<h3>Wireless</h3>
		<table class="table">
		<tbody><tr><td>Network Name (SSID)</td><td>Crawford Family</td></tr><tr>
		</tr><tr><td>Password</td><td>JoSean12</td></tr>
		</tbody></table>

		<h3>Email</h3>
		<table class="table">
		<tbody><tr><td>Family</td><td>crawfordnz@gmail.com</td></tr><tr>
		</tr><tr><td>Vanessa</td><td>vanessacrawfordnz@icloud.com</td></tr>
		<tr><td>David</td><td>davidcrawfordnz@icloud.com</td></tr>
		<tr><td>Sean</td><td>seancrawfordnz@gmail.com</td></tr>
		<tr><td>Jordan</td><td>jordan.crawford@me.com</td></tr>
		</tbody></table>
	</div>

	<div class="info-col pull-right">
		<h3>
			What do the different schedule types mean?
		</h3>
		<table class="table">
		<tbody><tr style="font-weight: bold;"><td>Type</td><td>Note</td></tr><tr>
		</tr><tr><td>Once</td><td>Records then never records again</td></tr><tr>
		</tr><tr><td>Daily</td><td>Records every day at this time and channel, no matter what is on</td></tr>
		<tr><td>Every time on this channel</td><td>Records every time the program is found (based on its title) on the channel.</td></tr>
		<tr><td>Every time on every channel</td><td>Records every time the program is found (based on its title) on all channels.</td></tr>
		<tr><td>Weekends</td><td>Records every day in the weekend at this time on this channel, no matter what is on.</td></tr>
		<tr><td>Working days</td><td>Records every day in the week at this time on this channel, no matter what is on.</td></tr>
		<tr><td>Weekly on this channel</td><td>Records every time the program shows on the defined day each week (based on its title), no matter what time.</td></tr>
		</tbody></table>
	</div>
</div>
